<table class="table table-striped table-inverse table-responsive">
    <thead style="color:gray;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user) {
            <tr>
                <td scope="row" ><a [routerLink]='["/user",user.id]' [queryParams]="user?.address">{{user.id}}</a></td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
            </tr>
        }
    </tbody>
</table>


<!-- {{users|json}} -->
